<ion-view title="{{deviceId}}">
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-click="connect()">Connect</button>
    <button class="button button-block button-positive" ng-click="disconnect()">Disconnect</button>
    <button class="button button-block button-positive" ng-click="print()">Print Content</button>
    <button class="button button-block button-positive" ng-click="printEscCommand()">Print EscCommand</button>
    <button class="button button-block button-positive" ng-click="printTscCommand()">Print TscCommand</button>
  </ion-content>
</ion-view>